body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://i.pinimg.com/736x/c9/6e/e8/c96ee866c4a133161f178572ed79eda0.jpg");
}

/* Верхняя панель */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #81D8D0;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
}

.header button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.header button:hover {
  background-color: #000000;
}

/* Список товаров */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding:20px;
}

/* Карточка товара */
.product-card {
  background-color:#81D8D0;
  border-radius:8px;
  box-shadow:0px 2px 8px rgba(0,0,0,0.1);
  width:200px;
  margin:10px;
  display:flex;
  flex-direction:column;
  align-items:center; 
}

.product-image {
    width:180px; 
    height:auto; 
    margin-top:10px; 
    border-radius:4px; 
}

.product-name {
    font-weight:bold; 
    margin-top:10px; 
    text-align:center; 
}

.product-price {
    color:#555; 
    margin-top:5px; 
}

.counter-container {
    display:flex; 
    align-items:center; 
    margin-top:auto; 
    margin-bottom:10px; 
}

.qty-btn {
    font-size:1.5em; 
    width:40px; 
    height:auto; 
    border:none; 
    background-color:#000000; 
    color:rgb(255, 255, 255); 
    cursor:pointer; 
    border-radius:20%; 
}

.qty-btn:hover {
    background-color:#000000
}

.quantity {
    font-size:1.2em; 
    width:auto; 
    text-align:center; 
    margin:-10px 10px; /* немного поднимаем текст */
}

.glow-on-hover {
    width: 120px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}